<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<form action="/save" method="post">
    用户名：<input type="text"  name="name"><br>
    密码：<input type="text"  name="password"><br>
    状态：<input type="text"  name="status"><br>
    介绍：<input type="text"  name="info"><br>
    权限：<input type="text"  name="power"><br>
    <button>保存</button>
</form>
<a href="/userList"><button>查看用户信息</button></a>
<a href="/loginOut"><button>退出登录</button></a>
</body>
</html>